/home/ioni/lab2/sim/run.do
/home/ioni/lab2/sim/sources.txt
/home/ioni/lab2/sim/transcript
/home/ioni/lab2/sim/vsim.wlf
/home/ioni/lab2/sim/wave.do
/home/ioni/lab2/sim/work/_info
/home/ioni/lab2/sim/work/_vmake
/home/ioni/lab2/sim/work/instr_register/_primary.dat
/home/ioni/lab2/sim/work/instr_register/_primary.dbs
/home/ioni/lab2/sim/work/instr_register/_primary.vhd
/home/ioni/lab2/sim/work/instr_register/verilog.asm
/home/ioni/lab2/sim/work/instr_register/verilog.rw
/home/ioni/lab2/sim/work/instr_register_pkg/_primary.dat
/home/ioni/lab2/sim/work/instr_register_pkg/_primary.vhd
/home/ioni/lab2/sim/work/instr_register_pkg/_primary.dbs
/home/ioni/lab2/sim/work/instr_register_pkg/verilog.asm
/home/ioni/lab2/sim/work/instr_register_pkg/verilog.rw
/home/ioni/lab2/sim/work/instr_register_test/_primary.dat
/home/ioni/lab2/sim/work/instr_register_test/_primary.dbsrun.do
/home/ioni/lab2/sim/work/instr_register_test/_primary.vhd
/home/ioni/lab2/sim/work/instr_register_test/verilog.asm
/home/ioni/lab2/sim/work/instr_register_test/verilog.rw
/home/ioni/lab2/sim/work/tb_ifc/_primary.dat
/home/ioni/lab2/sim/work/tb_ifc/_primary.dbs
/home/ioni/lab2/sim/work/tb_ifc/_primary.vhd
/home/ioni/lab2/sim/work/tb_ifc/verilog.asm
/home/ioni/lab2/sim/work/tb_ifc/verilog.rw
/home/ioni/lab2/sim/work/top/_primary.dat
/home/ioni/lab2/sim/work/top/_primary.dbs
/home/ioni/lab2/sim/work/top/_primary.vhd
/home/ioni/lab2/sim/work/top/verilog.asm
/home/ioni/lab2/sim/work/top/verilog.rw
